/*
 * Variables...
 */
$border-radius-base: 0;
$btn-border-radius-base: 4px;
$btn-font-weight: 300;
$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif !default;
$font-size-base: 16px;
$navbar-height: 60px;

/*
 * Bootstrap CSS...
 */
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*
 * Spark Styling...
 */
@import "vendor/laravel/spark/resources/assets/sass/spark";
