.navbar {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 40px;

	.navbar-brand {
		font-size: 28px;

		i {
			color: #e34c24;
		}
	}

	.navbar-nav {
		padding-top: 0px;
	}

	.dropdown-menu {
		li {
			font-size: 16px;

			a {
				font-weight: 300;
				line-height: 25px;
				vertical-align: middle;
			}
		}
	}
}
