.navbar {
	font-size: $font-size-base;
	font-weight: 300;
	margin-bottom: 40px;

	.dropdown-menu {
		li {
			font-size: $font-size-base;

			a {
				font-weight: 300;
				line-height: 25px;
				vertical-align: middle;
			}
		}
	}
}
